.hrStyle{
  height: 2px !important;
  background-color: gray !important;
}

.cardHeaderCruds{
  height: 8vh !important;  
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: darkred !important;
  color: antiquewhite !important;
}

.cardBodyCruds{
  background: rgb(243,245,214) !important;
  background: radial-gradient(circle, rgba(243,245,214,0.4635270365168539) 0%, rgba(249,215,155,0.1573472612359551) 100%) !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.ButtonCruds {
	color: darkred !important;
	/* width: 25%; */
	/* height: 16%; */
	/* font-size: 6vmin; */
  /* border-color: black; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ButtonCruds:focus {
	outline: 0px !important;
}

.ButtonCruds:active {
	opacity: 0.5 !important;
}

.ColorButton {
	background-color: lightgrey !important;	
}