/* .Card{
  width: 50px;
  height: 70px;
} */

.cardHeader{
  height: 8vh !important;  
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: lightgoldenrodyellow !important;
}

.fontStyle{
  color: darkred;
}

.Button {
	color: white;
	/* width: 25%; */
	/* height: 16%; */
	/* font-size: 6vmin; */
  /* border-color: black; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Button:focus {
	outline: 0px !important;
}

.Button:active {
	opacity: 0.5 !important;
}

.BlackButton {
	background-color: darkred !important;	
}


