/* .bTn{
  padding: 2% !important;
  margin-top: 1% !important;
  background-color: lightcoral !important;
} */

.ButtonFood {
	color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: lightcoral !important;
}

/* .Button:focus {
	outline: 0px !important;
}

.Button:active {
	opacity: 0.5 !important;
}

.BlackButton {
	background-color: rgb(170, 160, 160) !important;	
} */