.ButtonForm{
  background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
  color: darkred !important;
  border: 1px solid darkred !important;
}
.ButtonForm:hover { background-position: right center; }
  


.modalHeaderForm{
  /* background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%) !important; */
  color: darkred;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.modalBodyForm{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}